$doc-font: "Rubik", sans-serif;
$header-color: #f53855;
$text-color: #4f5665;
$bold-text-color: #0b132a;
$normal-text-size: 1rem;
$hero-color: #0b132a;
$btn-color: #f53838;
$background-color: #f6f6f6;
$background-color-2: #f8f8f8;
$card-margin: 3.125rem;
$div-margin: 4.375rem;
